@font-face {
    font-family: 'zarathustraregular';
    src: url('../fonts/zarathustra-v01-webfont.woff2') format('woff2'),
         url('../fonts/zarathustra-v01-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
  color: grey;
  font-family: 'LimousineMedium';
  font-size: 16px;
  color: black;
  font-weight: normal;
  padding: 2em;
}

@media only screen and (min-width: 768px) and (max-width: 950px) {

	html {
		padding: 1em;
	}
}

@media only screen and (max-width: 767px) {

	html {
		padding: 0.5em;
	}
}
a{
  color:black;
  font-family: 'LimousineMedium';
  text-decoration: underline;
}
h2, h3, h4, h5{
  font-weight: bold;
}
h1.sitetitle{
  font-family: 'zarathustraregular';
  font-size: 3em;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 32px;
}
h1 a{
  text-decoration: none;
  font-family: 'zarathustraregular';
}
h2.entry-title{
  font-family: 'zarathustraregular';
  font-size: 2em;
  letter-spacing: 2px;
  margin-bottom: 16px;
  line-height: 32px;
}
h2.entry-title a{
  text-decoration: none;
  font-family: 'zarathustraregular';
}
p{
  font-size: 16px;
  line-height: 20px;
	margin-bottom: 16px;
}
header, footer{
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 950px){
	div.container{
  	display: grid;
  	grid-template-columns: 330px 330px minmax(1px, 330px));
  	grid-gap: 30px;
		grid-template-rows: 250px -webkit-min-content -webkit-min-content;
		grid-template-rows: 250px min-content min-content;
	}
	div.col1{
  	grid-column: 1;
  	grid-row: 1/2;
	}
	div.col2{
  	grid-column: 2/4;
  	grid-row: 1
	}
	div.col3{
  	grid-column: 1;
		grid-row: 2;
		text-align: right;
	}
	div.footer{
  	grid-column:1;
  	grid-row:3;
	}
}
@media only screen and (min-width: 950px) and (max-width: 1300px){
	div.container{
  	display: grid;
  	grid-template-columns: 330px 330px minmax(1px, 330px) minmax(-webkit-min-content, 330px);
  	grid-template-columns: 330px 330px minmax(1px, 330px) minmax(min-content, 330px);
  	grid-gap: 30px;
		grid-template-rows: 250px -webkit-min-content -webkit-min-content;
		grid-template-rows: 250px min-content min-content;
	}
	div.col1{
  	grid-column: 1;
  	grid-row: 1;
	}
	div.col2{
  	grid-column: 2/4;
  	grid-row: 1
	}
	div.col3{
  	grid-column: 4;
  	grid-row: 2;
	}
	div.footer{
  	grid-column:1;
  	grid-row:2;
	}
}
@media only screen and (min-width: 1300px) and (max-width: 1770px){
	div.container{
  	display: grid;
  	grid-template-columns: 330px 330px 330px auto;
  	grid-template-rows: repeat(2, 250px);
  	grid-gap: 30px;
	}
	div.col1{
  	grid-column: 1;
  	grid-row: 1/2;
	}
	div.col2{
  	grid-column: 2/4;
  	grid-row: 2
	}
	div.col3{
  	grid-column: 4;
  	grid-row: 2;
	}
	div.footer{
  	grid-column:1;
  	grid-row:2/6;
	}
}
@media only screen and (min-width: 1770px) and (max-width: 3000px){
	div.container{
  	display: grid;
  	grid-template-columns:repeat(5, 330px);
  	grid-template-rows: repeat(2, 250px);
  	grid-gap: 30px;
	}
	div.col1{
  	grid-column: 1;
  	grid-row: 1/2;
	}
	div.col2{
  	grid-column: 2/4;
  	grid-row: 2
	}
	div.col3{
  	grid-column: 5;
  	grid-row: 2;
	}
	div.footer{
  	grid-column:1;
  	grid-row:2/6;
	}
}

div.entry-content p{
}
section#content{
  padding-bottom: 2em;
}
img{
  max-width: 100%;
}
nav#menu ul{
  margin-bottom: 16px;
  padding-left: 0px;
}
nav#menu ul li{
  display: inline-block;
  line-height: 22px;
}
ul#post-list{
  padding: 0;
}
ul#post-list li{
  padding-bottom: 30px;
}
img.rss-icon{
  width: 12px;
}
span.zarath{
  font-family: 'zarathustraregular';
}
aside ul#footer-tag-list{
  padding: 0;
}
aside ul#footer-tag-list li{
  display: inline-block;
  font-size: 0.55em;
  color: grey;
}
ul#footer-tag-list li a{
  color: grey;
  text-decoration: none;
}
ul#footer-tag-list li a:hover{
  text-decoration: underline;
}
iframe{
  width: 100%;
  min-height: 400px;
}
footer.sidebar-post-info a{
  line-height: 20px;
}
code{
	font-family: monospace;
	line-height: 22px;
	background-color: light-grey;
}

div.tipue_search_results_count{
	font-family: 'zarathustraregular';
	margin-top: 16px;
	margin-bottom: 8px;
}
div.tipue_search_content_title{
	margin-top: 16px;
	font-weight: bold;
	margin-bottom: 4px;
	text-decoration: none;
}
div.tipue_search_content_url{
  margin-bottom: 8px
}
div.tipue_search_content_url::before{
	content: "— ";
}
div.tipue_search_content_text{
	line-height: 20px;
}

/*# sourceMappingURL=screen.css.map */
