{% extends "base.html" %}
{% block content %}
<h1>Archives for {{ SITENAME }}</h1>
<br>
<ul>
{% for article in dates %}
    <li>{{ article.locale_date }}</li>
    <p><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></p>
{% endfor %}
</ul>
{% endblock %}
