{% extends "index.html" %}

{% block title %}{{ SITENAME }} - Articles by {{ author }}{% endblock %}
{% block content_title %}
<h2>Articles by {{ author }} <a title="osp blog: {{author}} category atom feed" href="{{ SITEURL }}/feeds/author/{{author|lower}}.atom.xml"><img class="rss-icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/rss-black.png"></a></h2>
{% endblock %}
