{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock %}

{% block content %}
    <h1>Authors on {{ SITENAME }}</h1>

    <ul>
    {%- for author, articles in authors|sort %}
        <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }}) <a title="osp blog: {{author}} category atom feed" href="{{ SITEURL }}/feeds/author/{{author|lower}}.atom.xml"><img class="rss-icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/rss-black.png"></a></li>
    {% endfor %}
    </ul>
{% endblock %}
