{% extends 'base.html' %}


{% block content %}
<article>
    <h1>search results for: <span id="replace-search-item"></span></h1>
    <br>
    <div class="span8 offset2">
        <div id="tipue_search_content"><div id="tipue_search_loading"></div></div>
    </div>
</article>

<script>
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch({
        'mode' : 'json',
        'show': 200,
        'newWindow': false,
        'contentLocation': 'tipuesearch_content.json'
     });
     var search_query = $('#tipue_search_input').val()
     $('#replace-search-item').html(search_query);
});
</script>

{% endblock content %}
